<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все книги</title>
</head>
<body>

<p th:text="'Количество книг в БД: ' + ${count}"></p>

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getName()}"></a>
</div>

<br/>

<form th:method="POST" th:action="@{/books/filtered}" th:object="${filterAuthor}">
    <label for="filterAuthor">Введите имя автора:</label>
    <input type="text" th:field="*{filter}" id="filterAuthor"/>
    <div style="color: red" th:if="${#fields.hasErrors('filter')}" th:errors="*{filter}">filter</div>
    <input type="submit" value="Отсортировать"/>
</form>

<br/>
<a href="/books/new">Добавить книгу</a>

</body>
<footer>
    <hr>
    <a href="/hello">Hello tests</a>
    <p></p>
    <p>Calculator ('sum'; '-'; '*'; '/')</p>
    <p>/calculator?firstParam=2&secondParam=2&operation=sum</p>
    <p></p>
    <a href="/">Main</a>
</footer>
</html>