<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
    <title>Профиль</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header>
    <h1>Ваш профиль:</h1>
</header>

<h5 data-th-text="${user.getUsername()}"></h5>
<br/>
<article data-th-text="${user.getBiography()}"></article>

<br/><br/>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>

<footer>
    <hr>
    <a href="/">Main</a>
</footer>
</body>
</html>