<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
    <title>Профиль</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header>
    <h1>Ваш профиль:</h1>
</header>

<h2 data-th-text="'Имя пользователя: ' + ${user.getUsername()}"></h2>
<article>Ваши роли: </article>
<div th:each="authority : ${springUser.getAuthorities()}">
    <article th:text="${authority} + '; '"></article>
</div>

<br/>

<article th:if="${isAdmin}" th:text="'Памятка для админа (☞ﾟヮﾟ)☞'"></article>

<br/>

<article data-th-text="'Ваше био: ' + ${user.getBiography()}"></article>
<br/>

<header>
    <h1 th:align="center">Книги</h1>
</header>
<article>
    <p th:text="'Количество книг в БД: ' + ${count}"></p>
    <ul>
        <li><a href="/books">Просмотр книг</a></li>
        <li th:if="${isAdmin}"><a href="/books/new">Добавить книгу</a></li>
        <p></p>
    </ul>
</article>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>

<footer>
    <hr>
    <a href="/">Main</a>
</footer>
</body>
</html>